.dropdown{
  display: none;
  position: relative;



  @include on-tablet{
    display: block;
  }


  &__trigger{
    height: 24px;

    background-color: $c-dark-green;
    border: 0;
    padding: 0;

    @include hover(transform,scale(1.05))
  }

  &__ua{
    @include raleway-button;


    color: $c-white;
    font-size: 16px;

    &::after{
      content: '⌄';
      position: relative;
      bottom: 6px;

    }

    &:hover::after{
      animation: move 1s  1 forwards;
    }
  }

    &__content{
      position: absolute;
      top: 35px;
      transition: height 0.3s;
      height: 0;
      overflow: hidden;

    &--active{
      height: auto;
    }
  }
}

@keyframes move {

  from{
    bottom: 12px;
  }

  to{
    bottom: 5px;
  }
}
