.dropdown {
  display: none;

  @include on-tablet {
    display: block;
  }

  position: relative; // батько для absolute

  &__trigger {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background: $c-dark-green;
    border: 0;
    

    &::after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-image: url(/src/images/icons/arrow-dow-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 5px;

    }
  }


  &__content {
    position: absolute; // dropdown не впливає на layout
    top: 120%; // одразу під кнопкою
    right: 0;
    width: max-content;
    height: 0;
    overflow: hidden;
    background: $c-dark-green;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: height 0.3s ease;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include raleway-thin;

      font-weight: 450;
      padding: 8px 12px;
      cursor: pointer;
      color: $c-white;
    }
  }
}
