.header{
  background-color: $c-dark-green;
  &__content{


    @include page-grid;

    gap: 40px;
  }

  &__middle{
    position: relative;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include on-tablet{
      grid-column: 1/6;
      margin-top: 60px;
    }

    @include on-desktop{
      margin-bottom: 50px;
      grid-row: 2;
      grid-column: 1/7;
     }
  }

  &__preface{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__date{
    color: $c-white;

    @include raleway-thin;

    font-size: 14px;
  }

  &__title{
    margin: 0;
    color: $c-white;
    font-size: 48px;

    @include playfair-bold;

    @include on-tablet{
      font-size: 72px;
    }
  }

  &__description{
    color: $c-white;

    @include raleway-thin;


  }

  &__button{
    grid-column: 1/-1;

    @include on-tablet{
          grid-column: 1/4;
          margin-top: 10px;
        }

    @include on-desktop{
      margin-top: 60px;
    }


  }

  &__line{
    display: none;


    @include on-desktop{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      gap:20px;
    }

    &-date{
      @include playfair-bold;

      font-size: 14px;
      color: $c-white;
      width: 100px;

    }

    &-strip{
      height: 1px;
      width: 100%;
      background-color: $c-white;
    }
  }

  &__photo{
    grid-column: 1/-1;
    width: 100%;

    @include on-tablet{
          grid-column: 2/6;
    }

    @include on-desktop{
      grid-row: 2;
          grid-column: 7/-1;

    }
  }
}
