.icon{
  height: $icon-size;
  width: $icon-size;

  background-repeat: no-repeat;

  @include hover(transform,scale(1.05));

  &--menu{
    background-image: url(/src/images/icons/menu-burger.svg);
    transform: translateY(-2px);
  }

  &--close{
    background-image: url(/src/images/icons/white-close-icon.svg);
  }

  &--facebook{
    background-image: url(/src/images/icons/facebook.svg);
  }

  &--twitter{
    background-image: url(/src/images/icons/twitter.svg);
  }

  &--telegram{
    background-image: url(/src/images/icons/telegram.svg);
  }

  &--instagram{
    background-image: url(/src/images/icons/instagram.svg);
  }

  &--arrow{
    background-image: url(/src/images/icons/arrow-top.svg);
  }

}
