.section-title {
  color: $c-text;
  display: flex;
  justify-content: space-between;

  &__text {
    @include playfair-bold;

    margin: 0;

    font-size: 28px;
    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }
}
