$c-gray: #eee;
$tablet-size: 640px;
$desktop-size: 1280px;
$icon-size: 24px;
$c-dark-green: #3f5252;
$c-white: #f1f5f4;
$c-orange: #cd4d31;
$c-dark-orange: #af3419;
$c-text: #1c1b29;
$c-dark-gray: #504f5e;
