$c-gray: #eee;
$tablet-size: 640px;
$desktop-size: 1280px;
$icon-size: 24px;
$c-dark-green: #3F5252;
$c-white: #F1F5F4;
$c-orange: #CD4D31;
$c-dark-orange: #AF3419;
$c-text: #1C1B29;
$c-dark-gray: #504F5E;
